@import './variables';

.section-title {
	text-align: center;
	padding-top: 1em;
	margin-bottom: 1em;
	h1,
	h2,
	h3 {
		position: relative;
		padding-bottom: 0.6em;
		font-weight: 700;
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 120px;
			height: 1px;
			background: #ddd;
			bottom: 1px;
			left: calc(50% - 60px);
		}
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 40px;
			height: 3px;
			background: var(--primary);
			bottom: 0;
			left: calc(50% - 20px);
		}
	}
}

.artist-card {
	cursor: pointer;
	max-width: 16rem;
	// box-shadow: 0 0 0 rgba(76, 78, 189, 0.75);
	box-shadow: 0.5em 0.5em 0 rgba(76, 78, 189, 0.75);
	transition: 0.3s ease-in-out;
	&:hover {
		box-shadow: 0.5em 0.5em 0 rgba(255, 124, 26, 0.75);
	}
}

input[type='checkbox'].chip,
input[type='radio'].chip {
	display: none;
	& + label {
		display: inline-block;
		font-weight: 500;
		font-size: 0.9em;
		width: fit-content;
		vertical-align: middle;
		transition: 0.2s;
		margin: 0.2em;
		padding: 0.4em 0.6em;
		border: 1px solid #555;
		border-radius: 1.2em;
	}
	&:checked + label {
		background: var(--primary);
		border-color: var(--primary);
		color: #fff;
	}
}

footer {
	#logo {
		background: #fff;
		padding: 0.8em;
		width: fit-content;
		border-radius: 0.6em;
	}
}

@media (min-width: 992px) {
}
