@import './variables';

// /
#hero-section {
	height: calc(100vh - 76px);
	img {
		max-height: calc(100vh / 2);
		max-width: 36em;
	}
}

// /register
#signup {
	height: 100vh;
	background: var(--primary);
}
