@import './variables';

// /
#hero-section {
	height: calc(100vh - 76px);
	img {
		max-height: calc(100vh / 2);
		max-width: 36em;
	}
}

// /signup
#signup {
	position: relative;
	margin: 0;
	padding: 0;
	background: var(--primary);
	.container {
		height: 100vh;
		background: #4c4dbd url('../assets/blob.svg') no-repeat center center;
	}
	svg {
		height: 100vh;
		path {
			box-shadow: -0.6em -0.6em 15px 5px rgba(0, 0, 0, 0.15);
		}
	}
	#form {
		display: none;
		position: absolute;
		bottom: 0;
		background: #fff;
		right: 0;
		max-width: 48em;
		min-height: 75vh;
		max-height: 75vh;
		overflow: auto;
		border-top-left-radius: 1.2em;
		box-shadow: -0.6em -0.6em 15px 5px rgba(0, 0, 0, 0.15);
	}
}
